[Unit]
Description=[SNB-TECH] ALPHA-MASTER-9.8 Monitoring Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/python3 /etc/Stopped-Services-Info.py  && /usr/bin/python3 /etc/System-Resource-Inof.py'
Restart=always

[Install]
WantedBy=multi-user.target
